services:
  evolution-api:
    image: atendai/evolution-api:latest
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SERVER_URL=http://localhost:8080
      - API_KEY=SuaChaveMestra123
      - AUTHENTICATION_TYPE=apikey
      - STORE_MESSAGES=true
      - DATABASE_ENABLED=false
